html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  min-height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
/*RESET*/


.header__form_container,
.header__section_container,
.container
{
  max-width: 915px;
  margin: 0 auto;
}
.clearfix:after,s
.header__form_container:after,
.header__section_container:after,
.container:after
{
  content: '';
  overflow: hidden;
  clear: both;
  display: table;
}

.section__text{
  max-width: 915px;
  margin: 0 auto;
}

.clearfix:after,
.section__text:after{
  content: '';
  overflow: hidden;
  clear: both;
  display: table;
}


/*HEADER*/

.header__mobile{
 height: 22px;
 margin-top: 78px;
}
.header__mobile__pic{
  width: 12px;
  height: 11px;
}
.mb{
  margin-right: 75px;
  text-decoration: none;
  color: #8b8888;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
}
.vk,
.fb
{
  text-decoration: none; 
  color: #323131;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 700;
}
.vk{
  margin-right: 19px;
}
.fb{
  margin-right: 615px;
}
.enter{
  text-decoration: none;
  color: #323131;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
}

/*FORMA*/
.header__form{
  background-color: #323131;
  clear:left;

}
.header__form_container{
  overflow: auto;
}
.logo{
  width: 221px;
  height: 59px;
  float: left;
  margin: 20px 80px 20px 0 ;
  
}
.header__form_text{
  color: white;
  margin: 0;
  float: left;
  font-family: OpenSansLight;
  font-size: 11px;
  font-style: italic;
  margin: 20px 71px 20px 10px;
}
form{
  position: relative;
  display: table;
}
.search{
  width: 239px;
  height: 27px;
  margin-left: 0;
  float: left;
  text-align: center;
  
  }
.form_icon{
  position: absolute;
  display: block;
  top: 5px;
  right: 8px;
  width: 17px;
  height: 20px;
  background: url(pic1/search-icon.png) no-repeat;
}
.arhiv{
  margin-top: 28px;
  color: #FFF;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  padding: 0 10px 5px 0;
  }

/*СЕКЦИИ*/

.menu{
  clear: right;
  background-color: #f4f1f1;
}
.header__section_container{
 height: 50px;
line-height: 50px;
 clear: both;
}
.nav_first{
  float: left;
  width: 68%;
}
.nav_second{
  float: left;
  width: 32%;
}

.header__section__news{
  width: 15%;
  display: inline-block;
  text-decoration: none;
  font-family: OpenSans;
  font-size: 18px;
  color: #323131;
  font-weight: 300;
  margin-left: 3px;
 box-sizing: border-box;
 margin-right: 30px;
 text-align: center;
}
.header__section__news:last-child{
margin-right: 0;
margin-left: -10px;
}
.header__section_color {
  width: 32%;
  margin-left: 3px;
  background-color: #4e4d4d;
  color: #FFF;
  margin-left: -5px;
  margin-right: 0;
}
.last_block{
  color: #FFF;
 
}
.last_block:after{
  position: absolute;
  right: 191px;
  content: '';
  border: 25px solid transparent; 
  border-left: 25px solid #4e4d4d;
  border-top: 25px solid #4e4d4d;
  
}
.advice_container{
clear: right;
}

/*CONTENT*/

.main{
  width: 60%;
  text-align:left;
}
.advice_container{
  text-align:right;
  margin-left: 195px;
}
.main__advice{
  width: 14.8%;
  background-color: #FFF;
  color: #2abe7a;
}
.main__advice:hover{
  background-color: #2abe7a;
  color: #FFF;
}

 /*NEWS*/
h2{
   margin: 25px 34px 25px 0;
  color: #4e4d4d;
  font-family: OpenSans;
  font-size: 36px;
  font-weight: 400;
}
.month{
  margin-bottom: 10px;
  color: #5c5b5b;
  font-family: OpenSans;
  font-size: 11px;
  font-weight: 300;
}
.h5{
  width: 50%;
  color: #0b0b0b;
  font-family: ClearSans;
  font-size: 18px;
  font-weight: 700;
  }

.link_1{
  color:#7ed092;
  text-decoration: none;
  border: 1px solid #7ed092;
  width: 50%;
  height:50%; 
  padding-left: 1%;
  text-align: center;
}


/*РОЗДІЛИ*/
.article__pic{
  float: left;
  margin-right: 10px;
}
.article__text{
  width: 86%;
  margin: 20px;
  font-family: ClearSans;
  font-size: 14px;
  font-weight: 500;
}

.banner_reklama{
  margin: 20px 0 20px 0;
}
.last__line{
  border-top: 3px solid #edeaea;
  margin-bottom: 36px;
  margin-top: 5px;
 }
.last_news{
  margin-top: 1px;
  margin-right: 268px;
  color: #0b0b0b;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 300;
}
.button_last{
  margin-top: 5px;
  color: gray;
  background-color: #FFF;
  border-top: 3px solid gray;
}
 .news{ 
  margin-bottom: 5px;
}
.border{
  margin: 10px 0 10px 0;
  border-top: 1px solid #e5e9e9;
}
.news_time{
  width: 70px;
  height: 70px;
  border: 1px solid black;  
  float: left;
  color: #6f706f;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400; 
}
.news_text{
  color: #363837;
  font-family: ClearSans;
  font-size: 14px;
  font-weight: 500;
  padding-left: 50px;
  text-align: left;
}
.news_date{
  display: block;
  clear: both;
  width: 13%;
  background-color: #1e9860;
  color: #FFF;
  font-family: ClearSans;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;

}
.date{
  margin: 20px 0 20px 0;
  color: #4e4d4d;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 300;
  border: none; 
}
.banner{
  margin: 20px 0 20px 0;
}

/*FOOTER*/

footer{
background-color: #323131;
}
.section__text{
}


