html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  min-height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
/*RESET*/

.header__form_container,
.header__section_container,
.container
{
  max-width: 915px;
  margin: 0 auto;
}
.clearfix:after,
.header__form_container:after,
.header__section_container:after,
.container:after
{
  content: '';
  overflow: hidden;
  clear: both;
  display: table;
}
.section__text_container{
    max-width: 915px;
  margin: 0 auto;
}
.clearfix:after,
.section__text_container:after{
  content: '';
  overflow: hidden;
  clear: both;
  display: table;
}

header{
 }
.header__mobile{
  display: inline-block;
}
.header__form{
  background-color: #323131;
}

.header__form_text{
  color: white;
}

.header__section{
  background-color: #f4f1f1;
}


.header__section__news{
  display: inline-block;
  width: 12%;
  text-decoration: none;
}
.header__section_color{
  background-color: #4e4d4d;
  color: #FFF;
}

.advice{
  text-align:right;
  }
.main__advice{
  background-color: #2abe7a;
}
.article__pic{
  float: left;
}
.news{
  border-top: 1px solid black; 
}
.news_time{
  width: 70px;
  height: 70px;
  border: 1px solid black;  
  float: left; 
}
.news_date{
  display: block;
  clear: both;
}
.section__text{
  background-color: #4e4d4d;
  }
.section__text_3{
  background-color: #323131;
}


